<launch>
    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)"/>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find euroclauncher)/urdf/t3.urdf.xacro'" />

    <arg name="frame" value="world"/>
    <arg name="child_frame" value="torso_link"/>

    <node name="robot_pose_publisher" pkg="sot_pr2" type="robot_pose_publisher" args="_frame:=$(arg frame) _child_frame:=$(arg child_frame)">
        <env name="ROS_NAMESPACE" value="/dynamic_graph" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
	<env name="ROS_NAMESPACE" value="/dynamic_graph"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" />

</launch>

